.SearchButton {
  color: white;
  background-image: var(--secondary-bg-color);
  font-family: var(--primary-font-family);
  font-size: var(--font-size);
  border-radius: 2em;
  border-style: hidden;
  width: 20em;
  height: 2em;
}
