.SearchButton {
  color: white;
  background-image: var(--secondary-bg-color);
  width: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  border-radius: 2em;
  border-style: hidden;
}
