@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-bg-color: #b4a8a8;
  --secondary-bg-color: linear-gradient(180deg, #010d00, #b4a8a8);
  --tertiary-bg-color: linear-gradient(180deg, #b4a8a8, #010d00, #b4a8a8);
  --primary-font-family: 'Roboto', sans-serif;
  --font-color: #fff;
}

body {
  margin: 0;
}
