@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-bg-color: #b4a8a8;
  --secondary-bg-color: linear-gradient(180deg, #000, #b4a8a8);
  --primary-font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
