.container {
  gap: 1em;
  background-color: var(--primary-bg-color);
  height: 100vh;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: -2em;
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.enterButton {
  margin-left: -1em;
}
